<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>
    <add key="Security.SharePoint.UseSharePointCookieAuthentication" xdt:Transform="Replace" xdt:Locator="Match(key)" value="True" />
  </appSettings>

  <system.serviceModel xdt:Transform="Replace">
    <bindings>
      <wsHttpBinding>
        <binding maxReceivedMessageSize="2147483647" name="CustomBinding_ESBService">
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName" establishSecurityContext="false" />
            <transport clientCredentialType="None" />
          </security>
        </binding>
        <binding name="CustomBinding_ISCMService2">
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None" />
            <message clientCredentialType="UserName" establishSecurityContext="false" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint name="CustomBinding_ISCMService2" address="https://scb-pp-esb-vip2.osl.basefarm.net/SCBNO.S24.SCMService/SCMService2.svc" binding="wsHttpBinding" bindingConfiguration="CustomBinding_ESBService" contract="ScmService.ISCMService2" />
    </client>
  </system.serviceModel>
</configuration>
