@section scripts {
    <script type="text/javascript">
        $(function () {
            var allCompetitionsController = new app.cm.AllCompetitionsController();
            allCompetitionsController.getAllCompetitions('competitionDataTable', "Kam", "GetCompetitions");
        });
    </script>
}
<div class="allCompetitions">
    <div id="competitionDataTableWrapper">
        <table id="competitionDataTable" class="table-hover">
            <thead></thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<div id="allCompetitionsErrorContainer"></div>

<div id="loading-pnl"></div>
