<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="CustomBinding_ISCMService2">
                    <security mode="TransportWithMessageCredential">
                        <transport clientCredentialType="None" />
                        <message clientCredentialType="UserName" establishSecurityContext="false" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://doslaps124/SCBNO.S24.SCMService/SCMService2.svc"
                binding="wsHttpBinding" bindingConfiguration="CustomBinding_ISCMService2"
                contract="ScmService.ISCMService2" name="CustomBinding_ISCMService2" />
        </client>
    </system.serviceModel>
</configuration>