<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Feil</title>
</head>
<body>
    <hgroup>
        <h1>Feil.</h1>
        <h2>Det har dessverre oppstått en feil i behandlingen av din forespørsel. Prøv igjen og kontakt kundeservice dersom feilen består.</h2>
    </hgroup>
</body>
</html>
